@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&display=swap');


$yellow:        #F9B31D;
$gray-100:      #FAFAFA;
$gray-200:      #F8F8F8;
$gray-300:      #EBF5FA;
$gray-400:      #F0F0F0;
$gray-900:      #292F35 !default;
$pink:          #FF7C80;
$blue:          #0084C4;
$blue-900:      #093756;
$blue-400:      #13AFEF;
$lime:          #CDDC29;

$min-contrast-ratio: 4.5 !default;

$font-family-base: 'Montserrat', sans-serif;
